<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.madran.mobiltest"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Listen to life</name>

  <description>
      ÇART APP MÜZİK
  </description>

  <author href="http://www.oguzhancartapp.phpnet.us" email="oguzhancart1@gmail.com.com">
      ÇART APP  </author>
    
  <icon src="icon.png" />

</widget>